.location, .phone, .mail, .linkedin{
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.adress_home{
    font-size: 18px;
    width: 80%;
    color: white;
}
.flex_lft{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    

}
.footer_container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}
.About_me p{
    font-size: 18px;
    
}
.About_me h2{
    color: #fff;
}
.footer{
    /* position: sticky;
    bottom: 0;
    left: 0; */
   
    background-color: rgba(19,19,19,0.8);
}
.flex_lft{
    width: 45%;
}
.flex_ryt{
    width: 55%;
}
@media(max-width:900px){
    .footer_container {
        
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
        
}
.flex_ryt {
    width: 90%;
}
.About_me h2 {
    color: #fff;
    text-align: center;
}
}
@media(max-width:567px){
    .flex_lft {
        width: 90%;
    }
}